<div class="all"><h1><%= @band.description() %> </h1>

  <hr color="grey">

<h6><strong>VENUES PLAYED AT:</strong><br>
  <% if @bands_venues.any?() %>
    <% @bands_venues.each do |venue| %>
    <a href="/venue/<%= venue.id() %>"><%= venue.description() %></a><br>
    <% end %><h6>
  <% else %>
    this band has yet to hit the stage!
  <% end %>
<br>



<br><br>
<a href="/bands/<%= @band.id() %>/edit">Enter Edit Mode</a><br><br>
<a href="/">Home</a>
</div>
