<div class="all">
  <form action="/bands" method="post">
  <label for="name">Band Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">ADD</button>
</form>

<a href="/">Cancel</a>
</div>
