<!DOCTYPE html>

<html>
  <head>
    <title>Bands and Venues</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel='stylesheet' href='/css/styles.css' type='text/css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
