<!DOCTYPE html>

<html>
  <head>
    <title>Bands and Venues</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
