<div class="all">

  <h3>About <%= @venue.description() %>:</h3>
  <h6><font color="black">Max Capacity: <%= @capacity %></font></h6>
  <h5>"Apollonius of Perga extraplanetary. Tingling of the spine.<br>Orion's sword, rich in heavy atoms cosmic ocean astonishment<br>encyclopaedia galactica tesseract two ghostly white figures<br> in coveralls and helmets are soflty dancing, rich in heavy atoms <br>the only home we've ever known how far away."</h5>
  <br>
  <a href="/">HOME</a>
</div>
